body {margin: 0px; font-family: Tahoma, Geneva; font-size: 14px;}
#pageTop
{
    background:url(header.png) repeat-x;
    height: 81px;
}
#pageTop > #pageTopWrap
{
    width: 1000px;    
    margin: 0px auto;
    height: 81px;
    
}
#pageTop > #pageTopWrap > #logo
{
    
    float: left;
    height: 81px;
    width: 160px;
    
}
#pageTop > #pageTopWrap > #rest
{
    
    float: left;
    height: 81px;
    width: 830px;
    
    
}
#pageTop > #pageTopWrap > #rest > #menu1
{
    
    
    height: 35px;

    
    
    
}

#pageTop > #pageTopWrap > #rest > #menu1 > div
{
    
    
    padding: 4px; 
    margin-top: 2px;
    text-align:right;
    
}
#pageTop > #pageTopWrap > #rest > #menu1 > div > a
{
    color:#000;
    text-decoration: none;
    
}
#pageTop > #pageTopWrap > #rest > #menu1 > div > a:hover
{
    color:#C0E37D;
}
#pageTop > #pageTopWrap > #rest > #menu2
{
    
    
    height: 35px;
    display: none;

    
    
    
}
#pageTop > #pageTopWrap > #rest > #menu2 > div
{
    
    
    padding: 4px; 
    margin-top: 13px;
    
}
#pageTop > #pageTopWrap > #rest > #menu2 > div > a
{
    color:#000;
    text-decoration: none;
    padding: 0px 6px;
}
#pageTop > #pageTopWrap > #rest > #menu2 > div > a:hover
{
    color:#C0E37D;
}
#pageMiddle{
    
    background-color: #E9EBF3;
	width: 1000px;
	margin: 0px auto;
	height: 900px;
    border  : none;
    padding : 0px;
    
}

#left {
    margin  : 0px;
    margin-top: 50px;
    border  : none;
    padding : 10px;
    width   : 500px;
    float   : left;
}

#welcome
{
    text-align: center;
}

#right {
    margin  : 0px;
    margin-top: 50px;
    border  : none;
    padding : 20px;
    width   : 430px;
    float   : right;
    text-align : center;
}

#left > #Opis
{
    margin: 0px auto;
    height: 200px;
    
}

#left > #opis
{
    margin: 0px auto;
    height: 100px;
    
}

#pageBottom{
	background: #666;
	padding: 24px;
	font-size: 12px;
	color: #002a00;
	text-align: center;
}