body {margin: 0px; font-family: Tahoma, Geneva, Segoe UI; font-size: 14px;}
#pageTop
{
    background:url(header.png) repeat-x;
    height: 81px;
}
#pageTop > #pageTopWrap
{
    width: 1000px;    
    margin: 0px auto;
    height: 81px;
    
}
#pageTop > #pageTopWrap > #logo
{
    
    float: left;
    height: 81px;
    width: 160px;
    
}
#pageTop > #pageTopWrap > #rest
{
    
    float: left;
    height: 81px;
    width: 830px;
    
    
}
#pageTop > #pageTopWrap > #rest > #menu1
{
    
    
    height: 35px;

    
    
    
}
.succes
{
    color: #0f0;
}

.error
{
    color: #f00;
}

#pageTop > #pageTopWrap > #rest > #menu1 > div
{
    
    
    padding: 4px; 
    margin-top: 2px;
    text-align:right;
    
}
#pageTop > #pageTopWrap > #rest > #menu1 > div > a
{
    color:#000;
    text-decoration: none;
    
}
#pageTop > #pageTopWrap > #rest > #menu1 > div > a:hover
{
    color:#C0E37D;
}
#pageTop > #pageTopWrap > #rest > #menu2
{
    
    
    height: 35px;
    

    
    
    
}
#pageTop > #pageTopWrap > #rest > #menu2 > #m
{
    
    
    padding: 0px; 
    margin-top: 13px;
    text-align: center;
    
}

#pageTop > #pageTopWrap > #rest > #menu2 > #m > div
{
    

    text-align:right;
    
}
a
{
    color:#000;
    text-decoration: none;
    padding: 0px 6px;
  
}
a:hover
{
    color:#C0E37D;
}
#pageTop > #pageTopWrap > #rest > #menu2 > #m > a
{
    color:#000;
    text-decoration: none;
    padding: 0px 6px;
}
#pageTop > #pageTopWrap > #rest > #menu2 > #m > a:hover
{
    color:#C0E37D;
}
#pageMiddle{
    
    background-color: #E9EBF3;
	width: 1000px;
	margin: 0px auto;
	
    border  : none;
    padding : 1px;
    text-align: center;
    
}



form > div
{
    margin-bottom: 5px;
}

#pageMiddle > #conversations
{
    text-align: center;
    margin-top: 20px;
}
#pageBottom{
	background: #666;
	padding: 24px;
	font-size: 12px;
	color: #002a00;
	text-align: center;
}


.posts
{
    text-align:center;
    margin-top: 50px;
}
.conversation
{
	width: 600px;
	background-color: #888844;
    font-family: Segoe UI;
    font-size: 15px;
	margin:0 auto;
	border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.me
{
	width: 600px;
	background-color: #8cff1a;
    font-family: Segoe UI;
    font-size: 15px;
	margin:0 auto;
	border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notme
{
	width: 600px;
	background-color: #0099ff;
    font-family: Segoe UI;
    font-size: 15px;
	margin:0 auto;
	border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.conversation a{
	color:#C0E37D;
}

.conversation p a{
	color: #fff;
}

.conversation p{
	color: #C0E37D;
}

